// grayscale
.black {
	background: $black;
}
.white {
	background: $white;
}
.gray {
	background: $gray;
}
.light-gray {
	background: $light-gray;
}
.lighter-gray {
	background: $lighter-gray;
}
.lightest-gray {
	background: $lightest-gray;
}
.dark-gray {
	background: $dark-gray;
}
.darker-gray {
	background: $darker-gray;
}
.darkest-gray {
	background: $darkest-gray;
}

// brand colors
.primary {
	background: $primary;
}
.light-primary {
	background: $light-primary;
}
.dark-primary {
	background: $dark-primary;
}
.secondary {
	background: $secondary;
}
.light-secondary {
	background: $light-secondary;
}
.dark-secondary {
	background: $dark-secondary;
}

// utility colors
.alert {
	background: $alert;
}
.success {
	background: $success;
}

// compliments
.primary-compliment {
	background: $primary-compliment;
}
.secondary-compliment {
	background: $secondary-compliment;
}

// analagous
.primary-triad-warm {
	background: $primary-triad-warm;
}
.primary-triad-cool {
	background: $primary-triad-cool;
}

