ul, ol {
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
	padding-left: 0;
	&.unstyled {
		list-style: none;
	}
}

dl {
	margin: 0;
	dt, dd {
		margin: 0;
	}
	&.inline {
		dt {
      @extend .pull-left;
			margin-right: $base-rhythm-unit * .25;
      &:after {
        content: ":";
      }
			+ dd {
				@extend .clearfix;
				@include trailer(.5);
			}
		}
	}
}

lh {
	font-weight: 600;
}