// typographic modular scale
// http://modularscale.com/scale/?px1=14&px2=36&ra1=1.25&ra2=0

body {
	font-size: em($base-font-size, 16px);
	line-height: em($base-line-height, 16px);
	@include establish-baseline($base-font-size);
	font-family: $main-font;
	text-rendering: optimizelegibility;
  -webkit-font-smoothing:antialiased;
  color: $font-color;
}

b, strong, .bold {
	font-weight: 600;
}

em, i, .italic {
	font-style: italic;
}

center, .align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}

small, .small {
	@include adjust-font-size-to(11.2px, 0.8);
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin: 0;
	+ .row {
		@include rhythm(0,1,1,0);
	}
}

h1 {
	@include adjust-font-size-to(36px, 2.571);
}
h2 {
	@include adjust-font-size-to(28.800px, 2.057);
}
h3 {
	@include adjust-font-size-to(23.040px, 1.646);
}
h4 {
	@include adjust-font-size-to(21.875px, 1.563);
}
h5 {
	@include adjust-font-size-to(17.500px, 1.25);
}
h6 {
	@include adjust-font-size-to(14.746px, 1.053);
}

a, a:link {
	text-decoration: none;
	color: $primary;	
}